<!DOCTYPE html>
<%- include("partials/header.ejs") %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <title>freg's blog</title>
  </head>
  <body>
    <h1 class="ftitle">freg's blogs</h1>
    <div class="create"><a href="/create">create a new post</a></div>
    <% posts.forEach(post => { %>
    <div class="post">
      <h1><%= post.title %></h1>
      <a><%= post.date %></a>
      <p><%= post.content %></p>
    </div>
    <% }); %> <%- include("partials/footer.ejs") %>
  </body>
</html>
